<div ng-module="robotModule">
    <div @*style="margin-left:100px;margin-top:50px"*@>
        <span @*style="margin-right:30px;"*@><a ui-sref="gridSetup">Grid Setup</a></span>
        <span @*style="margin-right:30px;"*@><a ui-sref="grid">Grid</a></span>
    </div>
    <ui-view></ui-view>
</div>